In [31]:
from faker import Faker
import pandas as pd
import numpy as np
import random

In [32]:
fake = Faker()

In [33]:
order_date = []
customer_name = []
drink_choice = []
amount = []

In [34]:
names = []
for x in range(0, 50):
    names.append(fake.name())

In [35]:
for _ in range(500):
    customer_name.append(random.choice(names))

In [36]:
for _ in range(500):
    order_date.append(fake.date_between_dates('-2y', 'now'))

In [37]:
drink = ['Espresso', 'Latte', 'Cappuccino']
for _ in range(500):
    drink_choice.append(random.choice(drink))

In [38]:
drink_prices = [1.5, 2.5, 3.0]
for _ in range(1000):
    amount.append(random.choice(drink_prices))

In [39]:
df = pd.DataFrame(zip(order_date, customer_name, drink_choice, amount), columns=['order_date', 'customer_name', 'drink_choice', 'amount'])

In [40]:
df.head(10)

   order_date            customer_name drink_choice  amount
0  2023-05-21            Kelly Jenkins        Latte     3.0
1  2022-12-14             Robert Booth     Espresso     1.5
2  2022-09-09              Paul Farmer        Latte     3.0
3  2022-12-27  Christopher Reynolds II   Cappuccino     3.0
4  2022-04-13           Douglas Garner        Latte     1.5
5  2022-08-26                 Ray Boyd        Latte     3.0
6  2022-11-09             Rodney Moody        Latte     2.5
7  2022-06-11        Melanie Carpenter     Espresso     2.5
8  2024-01-06        Courtney Richmond     Espresso     3.0
9  2022-04-19                Jane Reed     Espresso     2.5